# Maven
target/
*.log

# IDE
.idea/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/


# Sphinx build
docs/build/

# Logs
*.log
